{% extends "base.htm" %}


{% block title %} manage {% end %}

{% block body %}

	  <div class="uk-grid">
	    <div class="uk-width-1-1">
	      <div class="uk-panel uk-panel-box uk-panel-box-primary uk-width-medium-1-1"><span class="uk-panel-badge uk-badge uk-badge-info"><a href="" class="uk-icon-hover uk-icon-cloud"></a> SMARTBOW</span></div>
	    </div>
	    <div class="uk-width-1-1 uk-block uk-block-muted"><div class="uk-container"><h4>后台管理登录</h4></div></div>
	  </div>

	  {% for k,v in d.items() %}
	  <i class="uk-icon-small uk-icon-{{ k }}"></i> {{ k }}  <br/>
          {% end %}
{% end %}
