
<html lang="en-gb">
	<head>
		<meta charset="utf-8">
		<title>{% block title %} title {% end %}</title>
		<link rel="shortcut icon" href="static/favicon.ico" type="image/x-icon">
		<link id="data-uikit-theme" rel="stylesheet" href="../static/ui/css/uikit.docs.min.css">
		<link rel="stylesheet" href="../static/ui/css/docs.css">
		<link rel="stylesheet" href="../static/ui/css/fonts.css"> 
                <script src="../static/js/vue.min.js"></script>
                <script src="../static/js/pack.js"></script>
                <script src="../static/ui/js/uikit.min.js"></script>
	</head>
        <body>
        {% block body %}{% end %}
	</body>
</html>
