{% extends "base.htm" %}


{% block title %} manage {% end %}

{% block body %}

	  <div class="uk-grid">
	    <div class="uk-width-1-1">
	      <div class="uk-panel uk-panel-box uk-panel-box-primary uk-width-medium-1-1"><span class="uk-panel-badge uk-badge uk-badge-info"><a href="" class="uk-icon-hover uk-icon-cloud"></a> SMARTBOW</span></div>
	    </div>
	    <div class="uk-width-1-1 uk-block-muted">
	      <div class="uk-width-medium-1-4 uk-container-center uk-margin-top">
		<form class="uk-form">
		  <fieldset>
		    <legend>用户登录</legend>
		    <div class="uk-form-row">
		      <input type="text" placeholder="用户名">
		    </div>
		    <div class="uk-form-row">
		      <input type="password" placeholder="密码">
		    </div>
		    <div class="uk-form-row">
		      <button class="uk-button">登录</button>
		    </div>
		  </fieldset>
		</form>
	      </div>
	    </div>
	  </div>

{% end %}
