{% extends "base.htm" %}


{% block title %} manage {% end %}

{% block body %}
	    <div class="uk-width-1-1 uk-block-muted">
	      <div class="uk-width-medium-1-4 uk-container-center uk-margin-top">
		<form action="/login" method="post" class="uk-form">
		  <fieldset>
		    <legend>用户登录</legend>
		    <div class="uk-form-row">
		      <input type="text" name="username" placeholder="用户名">
		    </div>
		    <div class="uk-form-row">
		      <input type="password" name="password" placeholder="密码">
		    </div>
		    <div class="uk-form-row">
		      <button type="submit" class="uk-button">登录</button>
		    </div>
		  </fieldset>
		</form>
	      </div>
	    </div>
{% end %}
