{% extends "base.htm" %}


{% block title %} smartbow {% end %}

{% block body %}

	  <div class="uk-grid">
	    <div class="uk-width-1-1">
	      <div class="uk-panel uk-panel-box uk-panel-box-primary uk-width-medium-1-1"><span class="uk-panel-badge uk-badge uk-badge-info"><a href="" class="uk-icon-hover uk-icon-cloud"></a> SMARTBOW</span></div>
	    </div>
            <div class="uk-width-2-10">
	      <ul class="uk-nav uk-nav-side" data-uk-nav>
		<li class="uk-nav-divider"></li>
		<li class="uk-nav-header">网络</li>
		<li><a href=""><i class="uk-icon-laptop"></i> 固定网络</a></li>
		<li><a href=""><i class="uk-icon-wifi"></i> 无线网络</a></li>
		<li class="uk-nav-divider"></li>
		<li class="uk-nav-header">办公</li>
		<li><a href=""><i class="uk-icon-print"></i> 打印机</a></li>
	      </ul>
	    </div>
	    <div class="uk-width-8-10 uk-block uk-block-muted"><div class="uk-container"><h4>使用帮助</h4></div></div>
	  </div>

{% end %}
