:q{% extends "base.htm" %}


{% block title %} smartbow {% end %}

{% block body %}
            <div class="uk-width-2-10">
	      <ul class="uk-nav uk-nav-side" data-uk-nav>
		<li class="uk-nav-divider"></li>
		<li class="uk-nav-header">网络</li>
		<li><a href=""><i class="uk-icon-copyright"></i> 固定网络</a></li>
		<li><a href=""><i class="uk-icon-wifi"></i> 无线网络</a></li>
		<li class="uk-nav-divider"></li>
		<li class="uk-nav-header">办公</li>
		<li><a href=""><i class="uk-icon-print"></i> 打印机</a></li>
	      </ul>
	    </div>
	    <div class="uk-width-8-10 uk-block uk-block-muted"><div class="uk-container"><h4>使用帮助</h4></div></div>
{% end %}
